#game {
    display: grid;
    justify-content: center;
    justify-items: center;
}
#scoreText {
    display: flex;
    font-family: "Franklin Gothic Medium" sans-serif;
    font-size: 22px;
}
h1 {
    color: crimson;
    font-size: 36px;
}
.gameOver {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 42px;
    display: none;
    flex-flow: column;
}
.gameOver button {
    font-size: 28px;
    background-color: white;
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
}

.gameOver button:hover {
    background-color: black;
    border-color: white;
    color: white;
}
.scoreMessage {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 28px;
    color: red;
}
.show {
    display: flex;
}
